.footer {
  display: flex;
  justify-content: center;
  height: 252px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
}
.footer__area {
  width: 250x;
}
.footer__contacts-list {
  width: auto;
  padding-left: 0px;
  list-style-type: none;
  padding-bottom: 9px;
  margin-right: 70px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}
.footer__contacts-list li:nth-child(1) {
  margin-top: 20px;
}
.footer__site {
  text-decoration: none;
  color: $main-white;
  transition-property: color;
  @include transition(250ms, cubic-bezier(0.4, 0, 0.2, 1));
}
.footer__site:hover,
.footer__site:focus,
.footer__site:active {
  color: $selection-color;
}
.footer__contact {
  color: $text-color;
  text-decoration: none;
  transition-property: color;
  @include transition(250ms, cubic-bezier(0.4, 0, 0.2, 1));
  font-size: 14px;
  line-height: 1.71;
}

.footer__contact:hover,
.footer__contact:focus,
.footer__contact:active {
  color: $selection-color;
}

/* footer - social links */
.footer__social-area {
  display: block;
  margin-left: 0px;
  height: 80px;
  padding-right: 76px;
}
.footer__social-box:not(:last-child) {
  margin-right: 10px;
}
.footer__social-title {
  padding-bottom: 20px;
  color: $main-white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer__social-boxes {
  display: inline-flex;
  width: auto;
  height: 44px;
}
.footer__social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $background-footer-sl;
  fill: $main-white;
  border-radius: 50%;
  transition-property: background-color, fill, box-shadow, border-radius;
  @include transition(250ms, cubic-bezier(0.4, 0, 0.2, 1));
}
.footer__social-box:hover,
.footer__social-box:focus,
.footer__social-box:active {
  background-color: $selection-color;
  border-radius: 50%;
  fill: $main-white;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: $cursor;
}
.footer__social-item {
  width: 20px;
  height: 20px;
}
/* newsletter */
.footer__newsletter-area {
  position: relative;
  width: 570px;
  height: 86px;
}
.footer__newsletter-title {
  color: $main-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
.footer__email-input {
  position: absolute;
  display: inline-flex;
  align-items: flex-end;
  padding-top: 15px;
  color: $main-white;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  bottom: 0px;
  left: 0px;
  width: 358px;
  height: 50px;
  background-color: transparent;
}
.footer__icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: $main-white;
  right: 28px;
  bottom: 13px;
}
// end-newsletter