// logo-top
.logo-studio-top {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03;
  color: $logo-black;
}
.logo-web-top {
  @extend .logo-studio-top;
  color: $selection-color;
}
// end logo top
/* logo-bottom */

.logo-web-bottom {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: $selection-color;
}
.logo-studio-bottom {
  @extend .logo-web-bottom;
  color: $main-white;
}

/* end - logo bottom */
